h1 {
  color: red;
  font-size: 50px;
}
#calender {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.1rem;
  width: 15rem;
  height: 30rem;
}
.clicked {
  color: blue;
}
.cell {
  border: 0.01rem solid black;
  width: 4rem;
  height: 5rem;
}
